NODE_ENV=development
PORT=5000
MONGO_URI="mongodb+srv://your_mongoDB_HOST1..."
MONGO_URI_OLD="mongodb+srv://your_mongoDB_HOST2..."
DB_CONN_STRING="mongodb://localhost:27017/localMongoDB3"
JWT_SECRET="This_is PASSWORD..."
